/* Tell CSS to activate Tailwind in global */
@import "tailwindcss";
/* This way we can use it anywhere in the app */

/* */
/* :root pseudo-class targets the root of your project, and has first priority */
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* To declare a variable, do two dashes, then the name of the new variable */
  --bg-colour: beige;

  --main-font: monospace;

  /* We need to declare them in the :root to make them global */
}

/* CSS variables: variables to store style values that we can reuse as such --> */

body {
  font-family: var(--main-font);
  background-color: var(--bg-colour);
}
